$primary-color: #000000;
$primary-Bg: #DDA60A;
.container {
  width: 100%;
  padding: 1rem 1rem;
  margin-bottom: 2rem;
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  h3 {
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    color: $primary-color;
  }
}
.card {
  width: 100%;
  padding: 1rem;
  button {
    margin-bottom: 2rem;
    color: white;
    min-width: 140px;
    height: 54px;
  }
}
.inputBox {
  padding: 0;
  span {
    color: #DDA60A;
  }
}
.checkBox {
  width: 100%;
  // @include flexRow(flex-start);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  p {
    font-size: 14px;
    font-weight: 300;
  }
  span {
    color: #DDA60A;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  input {
    margin: 0.5rem;
    cursor: pointer;
  }
}
.registerBtn {
  background-color: $primary-Bg;
  font-size: 1.4em;
  &:hover {
    background-color: $primary-Bg;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 2rem 1rem;
    margin-bottom: 3rem;
  }
  .card {
    padding: 2rem;
  }
  .registerBtn {
    font-size: 1em;
  }
}
