html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: "Gothic A1", sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-family: "Gothic A1";
}

///navbody and background heading fonts
@font-face {
  font-family: "Jost-fonts";
  src: url(../font/jost/Jost-Light-300.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Jost-fonts";
  src: url(../font/jost/Jost-SemiBold-600.ttf) format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Jost-fonts";
  src: url(../font/jost/Jost-Bold-700.ttf) format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Jost-fonts";
  src: url(../font/jost/Jost-Regular-400.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Jost-fonts";
  src: url(../font/jost/Jost-Medium-500.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Jost-fonts";
  src: url(../font/jost/Jost-Black-900.ttf) format("truetype");
  font-weight: 900;
}
///////////footer fonts///////

@font-face {
  font-family: "Qanelas";
  src: url(../font/QanelasSoftDEMO/QanelasSoftDEMO-ExtraBold.otf)
    format("opentype");
  font-weight: 800;
}
@font-face {
  font-family: "Qanelas";
  src: url(../font/QanelasSoftDEMO/QanelasSoftDEMO-UltraLight.otf)
    format("opentype");
  font-weight: 250;
}

html {
  font-size: 84.5%;

  @media only screen and (max-width: 768px) {
    font-size: 72.5%;
  }
  @media only screen and (max-width: 298px) {
    font-size: 42.5%;
  }
}

/////////////route changes //
#page-transition {
  width: 100%;
  color: black;
  position: fixed;
  z-index: 99;
  top: 0;
  div {
    height: 20px;
    color: white;
    font-size: 12px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 0.5rem;
  }
}

/////
.products-home-container .swiper-slide-active .product-card {
  /* transform: scale(1.1) !important; */
  height: 473px;
  // width: 304px;
  opacity: 1 !important;
  z-index: 2;
  margin: 0;
  // @media only screen and (max-width: 748px) {
  //   height: 383px;
  //   width: 244px;
  // }
}
#id-overlay-814 {
  left: auto !important;
}
/* ////////////home carousel///// */
.homeCarousel {
  display: flex;
  flex-direction: column;
  position: relative;

  .swiper-pagination {
    display: none;
  }
  .swiper-button-prev,
  .swiper-button-next {
    // color: #df363e !important;
    color: white !important;
  }
}
.MuiPopperUnstyled-root {
  z-index: 100 !important;
}
@media only screen and (max-width: 640px) {
  .swiper-button-prev,
  .swiper-button-next {
    top: 35%;
    color: white !important;
    &::after {
      font-size: 35px !important;
    }
  }
}

///////mui slider range
.MuiSlider-rail,
.css-14pt78w-MuiSlider-rail {
  background-color: #333333 !important;
  // height: 1px;
}

/////responsive classes
.MuiContainer-root {
  @media only screen and (min-width: 1600px) {
    max-width: 1490px !important;
  }
}
.noBelowMd {
  @media only screen and (max-width: 768px) {
    display: none !important;
  }
}
.noAboveMd {
  @media only screen and (min-width: 768px) {
    display: none !important;
  }
}
.noBelowLg {
  @media only screen and (max-width: 1400px) {
    display: none !important;
  }
}

.noAboveLg {
  @media only screen and (min-width: 1400px) {
    display: none !important;
  }
}

//////mui cart badge color
.header {
  .MuiBadge-badge
    .MuiBadge-standard
    .MuiBadge-anchorOriginTopRight
    .MuiBadge-anchorOriginTopRightRectangular
    .MuiBadge-overlapRectangular
    .MuiBadge-colorSecondary
    .BaseBadge-badge
    .css-jcn4dz-MuiBadge-badge {
    background-color: black !important;
  }
}
.carousel .thumb.selected {
  // display: flex;
  // align-items: center;
  // margin-left: auto;
  // margin-right: auto;
}
.carousel .thumbs {
  text-align: center;
}
.thumb {
  border: 1px solid #f4f4f4 !important;
  border-radius: 15px;
}
.dVHZEF .swiper-slide {
  width: 252px !important;
}
.cQWXca {
  border-color: #dda60a !important;
  color: #dda60a !important;
}
.krLAnB .middleSection .name:hover {
  color: #dda60a !important;
}
.heKpbW {
  background: #dda60a !important;
  color: #f4f4f4 !important;
}
.ccjrdw button {
  background: #dda60a !important;
}
// ////////////////////////////checkout
// ////////////checkout and cart fonts
// @font-face {
//   font-family: "karla-fonts";
//   src: url(../font/Karla/Karla-Light.ttf) format("truetype");
//   font-weight: 300;
// }
// @font-face {
//   font-family: "karla-fonts";
//   src: url(../font/Karla/Karla-Regular.ttf) format("truetype");
//   font-weight: 400;
// }
// @font-face {
//   font-family: "karla-fonts";
//   src: url(../font/Karla/Karla-Medium.ttf) format("truetype");
//   font-weight: 500;
// }
// @font-face {
//   font-family: "karla-fonts";
//   src: url(../font/Karla/Karla-SemiBold.ttf) format("truetype");
//   font-weight: 600;
// }
// @font-face {
//   font-family: "karla-fonts";
//   src: url(../font/Karla/Karla-Bold.ttf) format("truetype");
//   font-weight: 700;
// }
// @font-face {
//   font-family: "karla-fonts";
//   src: url(../font/Karla/Karla-ExtraBold.ttf) format("truetype");
//   font-weight: 800;
// }
// /////////////////
// /* /////remove arrows from number input */
// /* Chrome, Safari, Edge, Opera */
// input::-webkit-outer-spin-button,
// input::-webkit-inner-spin-button {
//   -webkit-appearance: none;
//   margin: 0;
// }

// /* Firefox */
// input[type="number"] {
//   -moz-appearance: textfield;
// }

// /* //////mui inputs */

// .checkout .MuiOutlinedInput-notchedOutline,
// .checkout .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
//   border: none !important;
//   outline: none !important;
// }
// /* ////checkbox */
// .checkout .Mui-checked {
//   color: black !important;
// }

// /* //////select inputs */
// // .checkout .MuiInputLabel-formControl,
// // .checkout .Mui-focused {
// //   color: grey !important;
// //   font-size: 0.875em;
// // }
// .checkout .MuiInputBase-root .checkout .MuiOutlinedInput-root,
// .checkout .MuiInputBase-colorPrimary,
// .checkout .MuiInputBase-fullWidth,
// .checkout .MuiInputBase-formControl,
// .checkout .css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
//   background: #fff0ec;
//   border-radius: 10px;
// }
// // .checkout .Mui-focused {
// //   font-size: 1rem !important;
// //   color: rgba(107, 106, 106, 0.6) !important;
// // }
// .checkout
//   .css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select {
//   height: 28px;
// }
