$common-dark: #DDA60A;
// $common-dark: black;

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(246, 246, 246);
  height: 80vh;
  font-size: 16px;
}
.card {
  width: min(100%, 409px);
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  border: 1px solid #cac8c8;
  flex-direction: column;
  background: white;
  min-height: 350px;
  padding: 1em;
  h6 {
    font-size: 1.1em;
    font-weight: 600;
    text-transform: uppercase;
    color: $common-dark;
    color: black;
  }

  button {
    width: 85%;
    // border: 1px solid black;
    border: none;
    cursor: pointer;
    height: 3em;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1em;
    transition: 0.8s;
    max-width: 360px;
    @media only screen and (max-width: 640px) {
      height: 35px;
      max-width: 100px;
    }
    span {
      text-decoration: none;
    }
  }
}

.inputBx {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid rgb(202, 200, 200);
  min-width: min(80vw, 360px);
  overflow: hidden;
  margin: 0.6em 0;
  .icon {
    border-right: 1px solid rgb(202, 200, 200);
    height: 100%;
    padding: 1em;
    display: grid;
    place-items: center;
    width: 15%;
    box-sizing: border-box;
    color: grey;
  }
  input {
    width: 85%;
    height: 100%;
    outline: none;
    padding: 0 1em;
    border: none;
    outline: none;
    font-size: 1.1em;
  }
}
.card .loginBtn {
  width: 92%;
  width: 130px;
  border-radius: 5px;
  background-color: $common-dark;
  color: white;
  letter-spacing: 2px;
  &:hover {
    opacity: 0.6;
  }
}
